Repository firebase/firebase-android-sdk, pull requests merged in 2025-10, with the labels that each got.

#7436 firestore: test: fix expected message in ServerTimestampTest.java to include "Instant"
  firebase-firestore/src/androidTest/java/com/google/firebase/firestore/ServerTimestampTest.java
Labels: api: firestore, no-changelog, main-merge-ack

#7434 dataconnect: ci: upgrade data connect emulator to 2.14.0 (was 2.13.0) and firebase-tools to 14.18.0 (was 14.16.0)
  .github/workflows/dataconnect.yml
  .github/workflows/dataconnect_demo_app.yml
  firebase-dataconnect/gradleplugin/plugin/src/main/resources/com/google/firebase/dataconnect/gradle/plugin/DataConnectExecutableVersions.json
Labels: no-changelog, main-merge-ack, api: dataconnect

#7440 Make creating DataStore files more resilient
  firebase-crashlytics/CHANGELOG.md
  firebase-sessions/src/main/kotlin/com/google/firebase/sessions/FirebaseSessionsComponent.kt
Labels: no-changelog, main-merge-ack
