Repository firebase/firebase-android-sdk, pull requests merged in 2025-07, with the labels that each got.

#7098 fix(firestore): Further improved performance of UTF-8 string comparison logic
  firebase-firestore/CHANGELOG.md
  firebase-firestore/src/main/java/com/google/firebase/firestore/util/Util.java
Labels: api: firestore, main-merge-ack

#7109 Firestore: use Integer.compare() and Long.compare() instead Firestore bespoke implementations
  firebase-firestore/CHANGELOG.md
  firebase-firestore/src/main/java/com/google/cloud/datastore/core/number/NumberComparisonHelper.java
  firebase-firestore/src/main/java/com/google/firebase/firestore/core/View.java
  firebase-firestore/src/main/java/com/google/firebase/firestore/local/DocumentReference.java
  firebase-firestore/src/main/java/com/google/firebase/firestore/local/SQLiteMutationQueue.java
  firebase-firestore/src/main/java/com/google/firebase/firestore/model/BasePath.java
  firebase-firestore/src/main/java/com/google/firebase/firestore/model/Values.java
  firebase-firestore/src/main/java/com/google/firebase/firestore/util/Util.java
  firebase-firestore/src/test/java/com/google/firebase/firestore/util/UtilTest.java
Labels: api: firestore, no-changelog, main-merge-ack

#7115 Fix split screen in Sessions test app
  firebase-sessions/test-app/src/main/kotlin/com/google/firebase/testing/sessions/FirstFragment.kt
Labels: no-changelog, main-merge-ack

#7114 Add internal api for Crashlytics to notify Sessions of crash events
  firebase-crashlytics/src/main/java/com/google/firebase/crashlytics/internal/common/CrashlyticsController.java
  firebase-sessions/CHANGELOG.md
  firebase-sessions/api.txt
  firebase-sessions/gradle.properties
  firebase-sessions/src/main/kotlin/com/google/firebase/sessions/api/CrashEventReceiver.kt
Labels: no-changelog, main-merge-ack

#7120 Upgrade app.cash.turbine:turbine from 1.2.0 to 1.2.1.
  gradle/libs.versions.toml
Labels: no-changelog, main-merge-ack

#6999 feat(ai): add support for setting a thinking budget
  firebase-ai/CHANGELOG.md
  firebase-ai/api.txt
  firebase-ai/gradle.properties
  firebase-ai/src/main/kotlin/com/google/firebase/ai/type/GenerationConfig.kt
  firebase-ai/src/main/kotlin/com/google/firebase/ai/type/ThinkingConfig.kt
  firebase-ai/src/main/kotlin/com/google/firebase/ai/type/UsageMetadata.kt
  firebase-ai/src/test/java/com/google/firebase/ai/type/ThinkingConfigTest.kt
Labels: size/L, do-not-merge/work-in-progress

#7121 Bump ndk and aqs major versions
  firebase-crashlytics-ndk/gradle.properties
  firebase-sessions/gradle.properties
Labels: no-changelog, main-merge-ack

#7133 dataconnect: update .gitignore to include pglite-debug.log
  firebase-dataconnect/emulator/.gitignore
Labels: no-changelog, main-merge-ack, api: dataconnect

#7134 dataconnect: make stdout of helper postgres podman scripts less verbose
  firebase-dataconnect/emulator/start_postgres_pod.sh
  firebase-dataconnect/emulator/wipe_postgres_db.sh
Labels: no-changelog, main-merge-ack, api: dataconnect

#7135 dataconnect: LiveQuery.kt: remove noisy logging of the variables
  firebase-dataconnect/CHANGELOG.md
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/querymgr/LiveQuery.kt
Labels: main-merge-ack, api: dataconnect

#7152 dataconnect: upgrade firebase-tools to 14.10.1 (was 14.5.1) in github actions workflows
  .github/workflows/dataconnect.yml
  .github/workflows/dataconnect_demo_app.yml
Labels: no-changelog, main-merge-ack, api: dataconnect

#7155 dataconnect: tests: fix unparseableDash() in LocalDateSerializerUnitTest.kt et al
  firebase-dataconnect/src/test/kotlin/com/google/firebase/dataconnect/serializers/JavaTimeLocalDateSerializerUnitTest.kt
  firebase-dataconnect/src/test/kotlin/com/google/firebase/dataconnect/serializers/KotlinxDatetimeLocalDateSerializerUnitTest.kt
  firebase-dataconnect/src/test/kotlin/com/google/firebase/dataconnect/serializers/LocalDateSerializerUnitTest.kt
Labels: no-changelog, main-merge-ack, api: dataconnect

#7160 dataconnect: demo: add support for data connect preview flags and update dependencies
  firebase-dataconnect/demo/build.gradle.kts
  firebase-dataconnect/demo/gradle.properties
Labels: no-changelog, main-merge-ack, api: dataconnect

#7162 dataconnect: upgrade firebase-tools to 14.11.0 (was 14.10.1) in github actions workflows
  .github/workflows/dataconnect.yml
  .github/workflows/dataconnect_demo_app.yml
Labels: no-changelog, main-merge-ack, api: dataconnect

#7172 dataconnect: emulator.sh: add fancy command-line argument parsing to improve devx
  firebase-dataconnect/emulator/emulator.sh
Labels: no-changelog, main-merge-ack, api: dataconnect

#7173 dataconnect: add tests for user-defined enum support
  firebase-dataconnect/connectors/connectors.gradle.kts
  firebase-dataconnect/connectors/src/androidTest/kotlin/com/google/firebase/dataconnect/connectors/demo/EnumIntegrationTest.kt
  firebase-dataconnect/connectors/src/test/kotlin/com/google/firebase/dataconnect/connectors/demo/EnumValueKnownUnitTest.kt
  firebase-dataconnect/connectors/src/test/kotlin/com/google/firebase/dataconnect/connectors/demo/EnumValueSerializerUnitTest.kt
  firebase-dataconnect/connectors/src/test/kotlin/com/google/firebase/dataconnect/connectors/demo/EnumValueUnknownUnitTest.kt
  firebase-dataconnect/emulator/dataconnect/connector/demo/demo_ops.gql
  firebase-dataconnect/emulator/dataconnect/schema/demo_schema.gql
  firebase-dataconnect/src/androidTest/kotlin/com/google/firebase/dataconnect/EnumIntegrationTest.kt
  firebase-dataconnect/testutil/src/main/kotlin/com/google/firebase/dataconnect/testutil/WithNullAppended.kt
  firebase-dataconnect/testutil/src/main/kotlin/com/google/firebase/dataconnect/testutil/property/arbitrary/misc.kt
  firebase-dataconnect/testutil/src/main/kotlin/com/google/firebase/dataconnect/testutil/property/arbitrary/tuples.kt
  firebase-dataconnect/testutil/src/test/kotlin/com/google/firebase/dataconnect/testutil/WithNullAppendedUnitTest.kt
Labels: no-changelog, main-merge-ack, api: dataconnect

#7177 dataconnect: upgrade data connect emulator to 14.11.1
  .github/workflows/dataconnect.yml
  .github/workflows/dataconnect_demo_app.yml
  firebase-dataconnect/connectors/src/test/kotlin/com/google/firebase/dataconnect/connectors/demo/EnumValueUnknownUnitTest.kt
  firebase-dataconnect/gradleplugin/plugin/src/main/resources/com/google/firebase/dataconnect/gradle/plugin/DataConnectExecutableVersions.json
Labels: no-changelog, main-merge-ack, api: dataconnect

#7186 dataconnect: re-enable tests for user-defined enums as primary keys.
  firebase-dataconnect/connectors/src/androidTest/kotlin/com/google/firebase/dataconnect/connectors/demo/EnumIntegrationTest.kt
  firebase-dataconnect/emulator/dataconnect/connector/demo/demo_ops.gql
  firebase-dataconnect/src/androidTest/kotlin/com/google/firebase/dataconnect/EnumIntegrationTest.kt
Labels: no-changelog, main-merge-ack, api: dataconnect
