Repository firebase/firebase-android-sdk, pull requests merged in 2025-08, with the labels that each got.

#7209 dataconnect: emulator.sh: add flag to use the same data connect emulator as the gradle build
  firebase-dataconnect/emulator/emulator.sh
Labels: no-changelog, main-merge-ack, api: dataconnect

#7220 FirebaseRemoteConfigTest.java: fix flaky test: realtime_stream_listen_backgrounded_disconnects
  firebase-config/src/test/java/com/google/firebase/remoteconfig/FirebaseRemoteConfigTest.java
Labels: api: remoteconfig, no-changelog, main-merge-ack

#7218 ci_tests.yml: ensure that upload artifact name is calculated before uploading the artifacts
  .github/workflows/ci_tests.yml
Labels: no-changelog, main-merge-ack

#7248 dataconnect: minor unit test improvements to AlphanumericStringUtilUnitTest.kt
  firebase-dataconnect/src/test/kotlin/com/google/firebase/dataconnect/util/AlphanumericStringUtilUnitTest.kt
Labels: no-changelog, main-merge-ack, api: dataconnect

#7247 dataconnect: fix outdated comments that refer to "alpha" and "beta" versions of the sdk, since it is now generally available.
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/generated/GeneratedConnector.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/generated/GeneratedMutation.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/generated/GeneratedOperation.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/generated/GeneratedQuery.kt
Labels: no-changelog, main-merge-ack, api: dataconnect

#7299 [FAL] Update limited-use token docs
  firebase-ai/CHANGELOG.md
  firebase-ai/src/main/kotlin/com/google/firebase/ai/FirebaseAI.kt
Labels: main-merge-ack
