Repository firebase/firebase-android-sdk, pull requests merged in 2025-09, with the labels that each got.

#7331 dataconnect: fix typo 'of of' in kdoc comments
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/DataConnectOperationFailureResponse.kt
Labels: no-changelog, main-merge-ack, api: dataconnect

#7342 dataconnect: CHANGELOG.md: add PR link for "Ignore unknown fields in response data" entry
  firebase-dataconnect/CHANGELOG.md
Labels: main-merge-ack, api: dataconnect

#7356 Remove API checks that are always true/false.
  firebase-perf/src/main/java/com/google/firebase/perf/metrics/AppStartTrace.java
  firebase-perf/src/main/java/com/google/firebase/perf/network/InstrURLConnectionBase.java
  firebase-perf/src/main/java/com/google/firebase/perf/util/FirstDrawDoneListener.java
  firebase-perf/src/main/java/com/google/firebase/perf/util/Timer.java
Labels: no-changelog

#7153 dataconnect: EnumValue and EnumValueSerializer added
  firebase-dataconnect/CHANGELOG.md
  firebase-dataconnect/api.txt
  firebase-dataconnect/gradle.properties
  firebase-dataconnect/src/androidTest/kotlin/com/google/firebase/dataconnect/EnumIntegrationTest.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/EnumValue.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/serializers/EnumValueSerializer.kt
  firebase-dataconnect/src/test/kotlin/com/google/firebase/dataconnect/EnumValueKnownUnitTest.kt
  firebase-dataconnect/src/test/kotlin/com/google/firebase/dataconnect/EnumValueUnknownUnitTest.kt
  firebase-dataconnect/src/test/kotlin/com/google/firebase/dataconnect/serializers/EnumValueSerializerUnitTest.kt
Labels: main-merge-ack, api: dataconnect

#7399 dataconnect: fix various kdoc documentation issues
  firebase-dataconnect/README.md
  firebase-dataconnect/androidTestutil/src/main/kotlin/com/google/firebase/dataconnect/testutil/DataConnectBackend.kt
  firebase-dataconnect/demo/build.gradle.kts
  firebase-dataconnect/emulator/README.md
  firebase-dataconnect/emulator/start_postgres_pod.sh
  firebase-dataconnect/gradleplugin/plugin/src/main/kotlin/com/google/firebase/dataconnect/gradle/plugin/DataConnectDslExtension.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/AnyValue.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/ConnectorConfig.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/DataConnectOperationFailureResponse.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/DataConnectSettings.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/ExperimentalFirebaseDataConnect.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/FirebaseDataConnect.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/LocalDate.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/LogLevel.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/MutationRef.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/OperationRef.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/OptionalVariable.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/QueryRef.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/QuerySubscription.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/generated/GeneratedConnector.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/generated/GeneratedMutation.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/generated/GeneratedOperation.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/generated/GeneratedQuery.kt
  firebase-dataconnect/src/main/kotlin/com/google/firebase/dataconnect/querymgr/RegisteredDataDeserialzer.kt
  firebase-dataconnect/src/test/kotlin/com/google/firebase/dataconnect/ProtoStructDecoderUnitTest.kt
  firebase-dataconnect/testutil/src/main/kotlin/com/google/firebase/dataconnect/testutil/TestUtils.kt
  firebase-dataconnect/testutil/src/main/kotlin/com/google/firebase/dataconnect/testutil/property/arbitrary/IntWithEvenNumDigitsDistribution.kt
Labels: no-changelog, main-merge-ack, api: dataconnect

#7402 firestore: add instructions for rolling your own build
  firebase-firestore/README.md
Labels: api: firestore, no-changelog, main-merge-ack
